Task: Restaurant Chains

Identify if there are any restaurant chains
present in the dataset.

Analyze the ratings and popularity of
different restaurant chains.

In [2]:
import pandas as pd
import numpy as np
Data_set = pd.read_csv("E:\cognyfiz\Dataset.csv")
print(Data_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB
None

In [18]:
# Group by Restaurant Name and calculate Aggregate rating
chain_ratings = Data_set.groupby('Restaurant Name')['Aggregate rating'].mean()

# Count the number of outlets for each restaurant
chain_outlets = Data_set['Restaurant Name'].value_counts()

# Combine chain ratings and outlets into a single DataFrame
chain_info = pd.DataFrame({
    'Average Rating': chain_ratings,
    'Number of Outlets': chain_outlets
})

#Removing non-chain restaurants
chain_info = chain_info[chain_info['Number of Outlets'] > 1]

# Sort the DataFrame by Average_Rating in descending order
chain_info = chain_info.sort_values(by='Average Rating', ascending=False)

chain_info.head()

                           Average Rating  Number of Outlets
Restaurant Name
Talaga Sampireun                    4.900                  3
Silantro Fil-Mex                    4.850                  2
AB's Absolute Barbecues             4.850                  2
AB's - Absolute Barbecues           4.825                  4
Naturals Ice Cream                  4.800                  2